@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Repositorio: <a href="https://github.com/JohnSnow567/ShopWeb.git">ShopWeb</a>.</p>
</div>
